.linha-destaque--grande {
  width: 64px;
  border-bottom: 4px solid var(--color-primaria);
}

.texto-titulo {
  font-family: var(--font-prata);
  font-size: 40px;
  font-weight: var(--font-weight-normal);
  line-height: 72px;
  text-align: center;
  color: var(--color-primaria);
}
.linha-destaque {
  display: block;
  margin: 0 auto;
}